a {
    cursor: pointer;
    text-decoration: none;
    color: #000
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px
}

img {
    max-width: 100%;
    height: auto
}

textarea {
    resize: none
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    outline: none
}

input[type=number] {
    -moz-appearance: textfield
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

*:focus, select {
    outline: none !important
}

.bold {
    font-weight: 700 !important
}

.uppercase {
    text-transform: uppercase !important
}

.capitalize {
    text-transform: capitalize !important
}

.float-left {
    float: left !important;
    display: inline-block
}

.float-right {
    float: right !important;
    display: inline-block
}

.align-left {
    text-align: left !important
}

.align-right {
    text-align: right !important
}

.align-center {
    text-align: center !important
}

.force-middle {
    margin: auto !important;
    float: none !important;
    display: block !important
}

.cursor-default {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.cursor-pointer {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.nopadding {
    padding: 0px !important;
    margin: 0px !important
}

.hidden {
    display: none !important
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #fff;
    overflow: hidden
}

div#root {
    width: 100%;
    background: #767171
}

div#root section {
    padding: 25px 25px
}

div#root section#land-home {
    background: url("../../public/image/back.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: auto;
}

div#root section#sect-home {
    background: url("../../public/image/background2.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: auto;
}

div#root section#sect-option {
    background:steelblue;
}


div#root section#sect-home #header {
    width: 95%;
    border-bottom: 1px solid #fff;
    height: 42px
}

div#root section#sect-home #header div {
    float: right;
    line-height: 40px;
    width: 100px;
    margin: 0px 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center
}

div#root section#sect-home #header div.active {
    border-bottom: 5px solid #ffc000
}

div#root section#sect-home #capt {
    text-align: center;
    margin: 20vh auto
}

div#root section#sect-home #capt #ceil {
    font-size: 40px;
    font-weight: 550;
    margin-bottom: 5px
}

div#root section#land-home #capt {
    width: 1000px;
    text-align: center;
    margin: 20vh auto
}

div#root section#sect-home #capt #ceil i {
    margin-right: 5px
}

div#root section#sect-home #capt #floor {
    padding: 0px 90px;
    font-size: 15px
}

div#root section#sect-home #button-wrapper {
    display: flex
}

div#root section#sect-home #button-wrapper #exp-button {
    margin-top: 20vh;
    width: 150px;
    margin: auto;
    padding: 7.5px 0px;
    background: #ffc000;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.25px;
    margin-top: 10px;
}

div#root section#sect-home #img-wrapper {
    width: 100px;
    margin: 25px auto 0px
}

div#root section .scribble {
    width: calc(100% - 300px)
}

div#root section .scribble .main {
    text-align: center;
    width: 100%;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 15px
}

div#root section .scribble .title {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700
}

div#root section .scribble .content {
    font-size: 13px;
    text-align: justify;
    margin-bottom: 20px
}

div#root section .scribble .content ul {
    list-style-type: decimal;
    padding-left: 30px
}

div#root section .scribble .content i.color {
    color: #ffc000
}

div#root section .scribble .button-wrapper {
    display: flex
}

div#root section .scribble .button-wrapper .button {
    width: 150px;
    margin: auto;
    padding: 10px 25px;
    background: #ffc000;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    text-transform: none;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.25px
}

div#root div#sidebar {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 300px;
    height: 100vh;
    background: #fff;
    transition: all 1s
}

div#root div#sidebar.hide {
    right: -300px
}

div#root div#sidebar #logo {
    padding: 25px 50px
}

div#root div#sidebar #logo #bappenas {
    width: 35%;
    float: left
}

div#root div#sidebar #logo #plj {
    padding-top: 12.5px;
    width: 50%;
    float: right
}

div#root div#sidebar #logo #plj span {
    color: #000;
    font-size: 8px
}

div#root div#sidebar ul#nav {
    margin-top: 15vh
}

div#root div#sidebar ul#nav li {
    color: #ffc000;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    margin-bottom: 10px;
    padding-left: 8px
}

div#root div#sidebar ul#nav li.active {
    border-left: 8px solid #ffc000;
    padding-left: 0px
}


#logo-option{
    padding: 150px 200px;
}

.land-desc{
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    padding: 0px 20px;
}

.land-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 100px;
}

.link-button{
    text-align: center;
    font-size: 12px;
}

.home-title{
    font-weight: 600;
    margin-top: 200px;
}

@media screen and (min-width: 600px) {
    h1.home-title {
      font-size: 60px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    h1.home-title  {
      font-size: 25px;
    }
  }
  
/*# sourceMappingURL=main.css.map */